DEBUG=true

#POSTGRES
PGHOST=ep-twilight-recipe-a90324f23sdf5123nirs-poo234f23ler.gwc.as234fsdfzure.neon.tech
PGDATABASE=neosfvcandasdfb24f3fb
PGUSER=neondb_ownea11rgwlfkjwj
PGPASSWORD=npg_eclsdfqewrfqrwthwVp29DfmO
PORT=5432
